/typo3conf/ext/theme/Resources/Private/Drafts
/typo3conf/deprecation_*.log
/typo3conf/ENABLE_INSTALL_TOOL
/typo3temp/**/*
.idea
.DS_Store
/typo3conf/Documentation/**/*
/typo3conf/realurl_autoconf.php
