	<f:render partial="Header" />

	<div class="sujet" style="background-image:url('Images/Sujet.jpg');"></div>


	<div class="container" role="main">

		<div class="row mb30">

			<div class="col-md-8">
				<f:cObject typoscriptObjectPath="styles.content.get" />
			</div>

			<div class="col-md-3 col-md-offset-1">
				<div class="panel panel-default">
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Weiterer link</a>
						</li>
					</ul>
				</div>
				SIDEBAR CONTENT
			</div>
		</div>

	</div>


<f:render partial="Footer" />
